* {
    /* border: 2px solid white; */

}
button {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}
.block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 5% 25%;
}
.todo-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo-container h1 {
    margin: 0 20% 0 0;
}
.input-container {
    margin-right: 20%;
}
.input-container input {
    border-radius: 5px;
    height: 40px;
    width: 30vw;
    margin: 0 10px 0 0;
}
#add {
    transition: transform 0.3s ease;
}
#add:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* ******************************LIST CONTAINER ****************************** */

.list-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 15% 20% 0 0;
}

.list-data {
    display: flex;
    border-radius: 5px;
    border: 1px solid black;
    justify-content: space-between;
    padding: 5px;
    color: black;
    margin-bottom: 5px;
}
.list-data p {
    font-family: 'Courgette', cursive;
    font-size: 20px;
}
.buttons-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
#remove, #edit {
    margin: 0 10px;
    transition: transform 0.3s ease;
}
#edit:hover {
    cursor: pointer;
    transform: scale(1.2);
}
#remove:hover {
    cursor: pointer;
    transform: scale(1.2);
}